.jumbotron {
    text-align: center  ;
}

.container {
    display: flex;
    justify-content: center;
}

.space {
    margin-bottom: 20px;    
}

.zoomhome img {
    border-radius: 10px 10px 10px 10px;
}

.zoomhome img {
    width: 100%;
    height: 100%;
    transition: transform 0.5s ease;
}

.zoomhome:hover img {
    transform: scale(1.2,1.2);
}

.judul {
    margin-top: 10px;
    text-align: center;
    font-size: 35px;
}

.sejarahsize {
    margin: auto;
    width: 45%;
    display: flex;
}